.file-tool {
  --bg-color: #cdd1e0;
  --front-color: #388ae5;
  --border-color: #e8e8eb;

  &__caption {
    &[contentEditable='true'] {
      display: block;
    }

    &[contentEditable='false'] {
      display: none;
    }

    &[contentEditable='true'][data-placeholder]::before {
      position: absolute !important;
      content: attr(data-placeholder);
      color: #707684;
      font-weight: normal;
      display: none;
    }

    &[contentEditable='true'][data-placeholder]:empty {
      &::before {
        display: block;
      }

      &:focus::before {
        display: none;
      }
    }
  }

  &__link {
    &[contentEditable='true'] {
      display: none;
    }
  }

  &__button {
    &_editing {
      display: block;
    }
    &_read_only {
      display: none;
    }
  }
}
